{
  "presets": ["@babel/preset-react", ["@babel/preset-env"]],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]],
  "env": {
    "node": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "exclude": ["transform-classes"]
          }
        ]
      ]
    },
    "es6": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "modules": false,
            "exclude": ["transform-classes"]
          }
        ]
      ]
    }
  }
}
